<form id="edit-form" method="post">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <h5 class="card-header">Alıcı Bilgileri</h5>
                <div class="card-body">
                    <p class="card-text"><b>Ünvan : </b>{{customer.Name}}
                        <br><b>Adres : </b>{{customer.Address}}
                        <br><b>İl : </b>{{customer.City}}
                        <br><b>İlçe : </b>{{customer.District}}
                        <br><b>Telefon No : </b>{{customer.PhoneNumber}}
                        <br><b>Fax No : </b>{{customer.FaxNumber}}
                        <br><b>Mail Adresi : </b>{{customer.Mail}}
                        <br><b>Posta Kodu : </b>{{customer.PostalCode}}
                        {{#each customer.Identities}}
                        <br><b>{{SchemaID}} : </b>{{Value}}
                    </p>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <h5 class="card-header">Fatura Bilgileri</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-1">
                                <label style="font-size: 13px;" class="form-label mb-0">Fatura Profili</label>
                                <br>
                                <div id="invoice-profile-select"></div>
                            </div>
                            <div class="mb-1">
                                <label style="font-size: 13px;" class="form-label mb-0">Fatura Tipi</label>
                                <br>
                                <div id="invoice-type-select"></div>
                            </div>
                            <div class="mb-1" id="kdvmuaf" style="display: none;">
                                <label style="font-size: 13px;" class="form-label mb-0">KDV Muafiyet Sebebi</label>
                                <br>
                                <div id="kdv-muaf-select"></div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="mb-1" id="termcode" style="display: none;">
                                <label style="font-size: 13px;" class="form-label mb-0">Teslim Şartı</label>
                                <br>
                                <div id="export-termcode-select"></div>
                            </div>
                            <div class="mb-1" id="transportmode" style="display: none;">
                                <label style="font-size: 13px;" class="form-label mb-0">Gönderim Şekli</label>
                                <br>
                                <div id="export-transportmode-select"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="malteslim" style="display: none;">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Malın Teslim ve Ödeme Yeri</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-1">
                                <label for="delivery_address" class="form-label">Adres</label>
                                <input type="text" id="delivery_address" name="delivery_address" class="form-control"
                                    value="{{allJson.ExportInfo.Delivery.Address}}">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-1">
                                <label for="delivery_district" class="form-label">Mahalle / İlçe</label>
                                <input type="text" id="delivery_district" name="delivery_district" class="form-control"
                                    value="{{allJson.ExportInfo.Delivery.District}}">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-1">
                                <label for="delivery_city" class="form-label">Şehir</label>
                                <input type="text" id="delivery_city" name="delivery_city" class="form-control"
                                    value="{{allJson.ExportInfo.Delivery.City}}">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-1">
                                <label for="delivery_country" class="form-label">Ülke</label>
                                <input type="text" id="delivery_country" name="delivery_country" class="form-control"
                                    value="{{allJson.ExportInfo.Delivery.Country}}">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-1">
                                <label for="delivery_postalcode" class="form-label">Posta Kodu</label>
                                <input type="text" id="delivery_postalcode" name="delivery_postalcode"
                                    class="form-control" value="{{allJson.ExportInfo.Delivery.PostalCode}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Fatura Kalemleri</h5>
                <div class="card-body">
                    <table id="invoice-lines" class="table table-striped table-sm table-hover table-bordered"
                        style="width:100%">
                        <thead>
                            <th style="vertical-align: middle;width: 10%">ID</th>
                            <th style="vertical-align: middle;">Kalem Adı</th>
                            <th class="hidden" style="vertical-align: middle;width:20%;" id="gtiphead">GTİP Numarası
                            </th>
                        </thead>
                        <tbody>
                            {{#each allJson.InvoiceLines}}
                            <tr>
                                <td>
                                    <input type="text" class="form-control" value="{{ERPLineID}}" readonly>
                                </td>
                                <td>
                                    <input type="text" class="form-control" value="{{Name}}">
                                </td>
                                <td class="hidden">
                                    <input type="text" class="form-control" value="{{GTIP}}">
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    <div>
                        Fatura Notları
                    </div>
                    <button id="add-note" type="button" class="btn btn-sm btn-success"><i class="fas fa-plus"></i>Ekle</button>
                </h5>
                <div class="card-body">
                    <table id="invoice-notes" class="table table-striped table-sm table-hover table-bordered"
                        style="width:100%">
                        <thead>
                            <th style="vertical-align: middle;">Not</th>
                            <th style="vertical-align: middle; width: 5%">İşlemler</th>
                        </thead>
                        <tbody>
                            {{#each allJson.Notes}}
                            <tr>
                                <td>
                                    <input type="text" class="form-control" value="{{Note}}">
                                </td>
                                <td>
                                    <button id="delete-row" type="button" class="btn btn-sm btn-danger">Sil</button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-grid">
            <button type="submit" class="btn btn-success waves-effect waves-light">
                Kaydet
            </button>
        </div>
    </div>
</form>
</div>