<div class="modal fade" id="preview-invoice-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Fatura Önizlemesi</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modal-body" class="modal-body">
                <iframe id="invoiceFrame" width="1050px" height="1200px"></iframe>
            </div>
            <div class="modal-footer">
                <button id="iframe-print" type="button" class="btn btn-secondary rounded-pill waves-effect waves-light">
                    <span class="btn-label"><i class="mdi mdi-printer"></i></span>Yazdır
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12 mb-1 button-list d-flex justify-content-end">
                            <div class="col-lg-1 align-self-center">
                                <button type="button" id="searchButton"
                                    class="btn btn-soft-info waves-effect waves-light">
                                    <span class="btn-label"><i class="mdi mdi-magnify"></i></span>Ara
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="form-label">Ara</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                                <input type="text" class="form-control" id="searchBox" name="searchBox"
                                    placeholder="Ara" aria-label="ara" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="mb-2">
                            <label class="form-label">Başlangıç Tarihi</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i
                                        class="mdi mdi-calendar-arrow-right"></i></span>
                                <input type="text" class="form-control" id="fdate" name="fdate" aria-label="fdate"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="mb-3">
                            <label class="form-label">Bitiş Tarihi</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i
                                        class="mdi mdi-calendar-arrow-left"></i></span>
                                <input type="text" class="form-control" id="ldate" name="ldate" aria-label="ldate"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="form-label">Filtre</label>
                            <div class="input-group">
                                <select class="form-select" id="filter" name="filter" aria-label="filter">
                                    <option value="0" selected="">Hepsi</option>
                                    <option value="1">Başarılı</option>
                                    <option value="2">Hatalı</option>
                                    <option value="3">Sırada</option>
                                </select>
                            </div>

                        </div>
                    </div>

                    <form id="list" action="/invoices/send/selected" method="post">
                        <div class="col-lg-12">
                            <table id="invoices" class="table table-striped table-sm table-hover table-bordered"
                                style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Numaralar</th>
                                        <th>Alıcı Bilgisi</th>
                                        <th>Alıcı VKN/TCKN</th>
                                        <th>Fatura Bilgileri</th>
                                        <th>Ödenecek Tutar</th>
                                        <th>Para Birimi</th>
                                        <th>Fatura Tipi</th>
                                        <th>Profili</th>
                                        <th>Fatura No</th>
                                        <th>Durum</th>
                                        <th>Durum Kodu</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each invoices}}
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle;">{{id}}</td>
                                        <td style="vertical-align: middle;">{{erpRefDocNumber}}</td>
                                        <td style="vertical-align: middle;">{{customer_name}}</td>
                                        <td>
                                            {{#if (isVKN this.customer_tax)}}
                                            <b>Vergi Kimlik No : </b>
                                            {{else}}
                                            <b>TC Kimlik No : </b>
                                            {{/if}}
                                            {{customer_tax}}
                                        </td>
                                        <td>{{readable_date}}</td>
                                        <td>{{payable_amount}}</td>
                                        <td>{{currency_code}}</td>
                                        <td><span class="badge badge-soft-success">{{invoice_type}}</span></td>
                                        <td style="text-align: center; vertical-align: middle;">
                                            {{#if (isEInvoice this.invoice_profile)}}
                                            <span class="badge badge-outline-info">
                                                {{else}}
                                                <span class="badge badge-outline-warning">
                                                    {{/if}}
                                                    {{invoice_profile}}
                                                </span>
                                        </td>
                                        <td>
                                            {{invoice_number}}
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                            {{#if (isIncorrectInvoice this.status_code)}}
                                            <button type="button" id="error-button"
                                                class="btn btn-danger rounded-pill waves-effect waves-light"
                                                title="Detay için tıklayınız!" tabindex="0" data-plugin="tippy"
                                                data-tippy-placement="bottom">
                                                <span class="btn-label"><i
                                                        class="mdi mdi-close-circle-outline"></i></span>Hatalı
                                            </button>
                                            {{else}}
                                            {{#if (isCorrectInvoice this.status_code)}}
                                            <button type="button"
                                                class="btn btn-success rounded-pill waves-effect waves-light">
                                                <span class="btn-label"><i class="mdi mdi-check-all"></i></span>Başarılı
                                            </button>
                                            {{else}}
                                            <button type="button" id="info-button"
                                                class="btn btn-warning rounded-pill waves-effect waves-light"
                                                title="Detay için tıklayınız!" tabindex="0" data-plugin="tippy"
                                                data-tippy-placement="bottom">
                                                <span class="btn-label"><i class="mdi mdi-alert"></i></span>Sırada
                                            </button>
                                            {{/if}}
                                            {{/if}}
                                        </td>
                                        <td>{{status_code}}</td>
                                        <td>
                                            <div class="btn-group">
                                                <div class="btn-group">
                                                    <button type="button"
                                                        class="btn btn-soft-warning dropdown-toggle waves-effect waves-light"
                                                        title="Ek İşlemler" tabindex="0" data-plugin="tippy"
                                                        data-tippy-placement="bottom" data-bs-toggle="dropdown"
                                                        aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        {{#if (isIncorrectInvoice this.status_code)}}
                                                        <div id="mark-resolved">
                                                            <a class="dropdown-item" href="#">Çözüldü Olarak
                                                                İşaretle</a>
                                                        </div>
                                                        <div id="mark-notsended">
                                                            <a class="dropdown-item" href="#">Gönderilmedi Olarak
                                                                İşaretle</a>
                                                        </div>
                                                        {{/if}}
                                                        <div id="check-status">
                                                            <a class="dropdown-item" href="#">Durum Sorgula</a>
                                                        </div>

                                                    </div>
                                                </div>
                                                {{#if (isIncorrectInvoice this.status_code)}}
                                                {{else}}
                                                <button type="button" id="preview"
                                                    class="btn btn-info waves-effect waves-light"
                                                    title="Faturayı Önizle" tabindex="0" data-plugin="tippy"
                                                    data-tippy-placement="bottom" data-bs-toggle="modal"
                                                    data-bs-target="#preview-invoice-modal">
                                                    <i class="mdi mdi-magnify"></i>
                                                </button>
                                                {{/if}}
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>